html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

hr {
border: 1px solid black;
}

h6 {
font-family: 'Inter', sans-serif;
  font-weight: 300;
  color:black;
}

.button,.btn {
  background-color: #000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.btn:hover {

background-color:gray;
}
.na{
 font-family: 'Inter', sans-serif;
 font-size: 24px;
  font-weight: 300;
  color:black;
}

.box {
padding:3%;
margin:2%;
}

.main {
padding-top:5%;
padding-bottom:5%;
margin-top:3%;
margin_bottom:3%;
}

.name {
 font-family: 'Inter', sans-serif;
 font-size: 16px;
  font-weight: 300;
}

.heading {
 font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-bottom:5%;
  word-spacing: 4px;
}

.pfp {
  border-radius: 50%;
  width:40%;
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    color:white;
    text-decoration:none;
    cursor:pointer;
}

.nav {
padding:0 8%;
}
.nv {
 font-family: 'Inter', sans-serif;
 font-size: 20px;
  font-weight: 300;

}

.nv {
color:black;
}
.nv:hover{
text-decoration: line-through;
color:gray;
}
.x {
text-decoration: line-through;
}

.fab {
color:black;
font-size:24px;
padding:3%;
}
.fab:hover{
color:gray;
}

.na:hover{
text-decoration: line-through;
color:gray;
}