html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

hr {
border: 1px solid black;
}

h6 {
font-family: 'Inter', sans-serif;
  font-weight: 300;
  color:black;
}

h3 {
font-family: 'Inter', sans-serif;
  font-weight: 300;
  color:black;
}

.button,.btn {

  background-color: #000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.btn:hover,.button:hover {
background-color:gray;
}

.na{
 font-family: 'Inter', sans-serif;
 font-size: 24px;
  font-weight: 300;
  color:black;
}

.box {
padding:3%;
margin:2%;
}

.main {
padding-top:5%;
padding-bottom:5%;
margin-top:3%;
margin_bottom:3%;
}

.name {
 font-family: 'Inter', sans-serif;
 font-size: 16px;
  font-weight: 300;
}

.heading {
 font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-bottom:5%;
  word-spacing: 4px;
}

.pfp {
  border-radius: 50%;
  width:40%;
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    color:white;
    text-decoration:none;
    cursor:pointer;
}

.nav {
padding:0 8%;
}
.nv {
 font-family: 'Inter', sans-serif;
 font-size: 20px;
  font-weight: 300;

}

.nv {
color:black;
}
.nv:hover{
text-decoration: line-through;
color:gray;
}
.x {
text-decoration: line-through;
}

.fab {
color:black;
font-size:24px;
padding:3%;
}
.fab:hover{
color:gray;
}

.na:hover{
text-decoration: line-through;
color:gray;
}

.i {
display: flex;
}
.col-md-6 {
flex-grow: 1;
}
@media (max-width:800px) {
 .i {
flex-direction: column-reverse;
 text-align: center;
		}

.name {
 padding-top:2%;
 }
}


.box{
  opacity: 1;
  animation: fadeIn 3s ease;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.pii {
	display: block;
	width: 100%;
	height: auto;
	cursor: pointer;
	padding-top:15%;
}

.image {
    position: relative;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}


.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 4em;
    font-weight: bold;
}

.image__description {
    font-size: 2.50em;
    margin-top: 0.25em;
    margin-left:0.25em;
    margin-right:0.25em;
}