{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Mes{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

{% endblock %}


{% block content %}
<div class="box">
<a href="{{url_for('home')}}"><p class="na">MEs.</p></a>
<div class="main">
<div class="row i">
   <div class="col col-lg-6 col-sm-12 col-md-6">
       <p class="name">Karan Yadav</p>
       <h1 class="heading">I'm a full stack developer</h1>
       <h1 class="heading">and tech geek.</h1>
       <a href="{{url_for('contact')}}" class="button">let's talk .</a>
   </div>

    <div class="col col-lg-6 col-sm-12 col-md-6 d-flex justify-content-center text-center">
        <img class="pfp" src="https://lh3.googleusercontent.com/a-/AOh14GgxJ7vsj0CtU1tVxJmZNvlaUEqZTsIhDAJ-ucH1rQ=s600-k-no-rp-mo" alt="Avatar">
    </div>
</div>
</div>
    <hr>
<div class="row nav flex-nowrap">
     <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6 d-flex justify-content-center text-center">
      <a href="{{url_for('home')}}"><p class="nv x">mes</p></a>
    </div>
         <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6 d-flex justify-content-center text-center">
      <a href="{{url_for('projects')}}"> <p class="nv">mes projects</p></a>
    </div>
</div>
    <hr>
<div class="socials">
    <div class="row flex-nowrap">
     <div class="col col-lg-3 col-sm-3 col-md-3 col-xs-3 d-flex justify-content-center text-center">
      <a href="https://www.youtube.com/c/i-S-t-e-a-lYT"><i  style="color:#FF0000" class="fab fa-youtube"></i></a>
    </div>
         <div class="col col-lg-3 col-sm-3 col-md-3 col-xs-3 d-flex justify-content-center text-center">
    <a href="https://twitter.com/itzisteal?lang=en"> <i style="color:#1DA1F2;" class="fab fa-twitter"></i></a>
    </div>
            <div class="col col-lg-3 col-sm-3 col-md-3 col-xs-3 d-flex justify-content-center text-center">
      <a href="https://github.com/iSteal-it"><i style="color:#171515" class="fab fa-github"></i></a>
    </div>
            <div class="col col-lg-3 col-sm-3 col-md-3 col-xs-3 d-flex justify-content-center text-center">
    <a href="#"><i style="color:#8a3ab9" class="fab fa-instagram"></i></a>
    </div>
</div>

</div>
</div>

{% endblock %}
